<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Blogs</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=font1|font2|etc" type="text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </head>
  <body>

  <div class="container">
    

      <h5 class="alert alert-secondary text-center">Rank My Writing </h5>
      <h5 class="alert alert-secondary"> Welcome MR. {{username}} </h5>

      <h1 class="alert alert-primary"> {{question_of_the_day}} </h3>
      <form method="post" action="/blog/new">
      <textarea name='content' rows=5 style="width:100%"> </textarea>
      <input type="hidden" name="title" value="{{question_of_the_day}}"> 
      <button type="submit"> submit post </button>
      </form>
    
  {% for post in posts %}
      <div class="card my-2">
  <div class="card-header">
  {{post.title}}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{post.content}}</p>
      <footer class="blockquote-footer"> written by <cite title="Source Title">{{post.name}}</cite></footer>
    </blockquote>
  </div>
  <div class="card-footer">
      <small class="text-muted">{{post.time_created}}</small>
  <button class="btn btn-link"><a href="{{url_for('edit_blog', post_id = post.id)}}"><img src={{ url_for('static',filename='pencil.svg') }} alt="icon name"></a></button>
  <button class="btn btn-link"> <a href="{{url_for('delete_blog', post_id = post.id)}}"><img src={{ url_for('static',filename='trashcan.svg') }} alt="icon name">
</a> </button>
 
    </div>
</div>

{% endfor %}

</div> 
  </body>
</html>